# RIFA MED MAJU - Variáveis de Ambiente Firebase & Admin
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""

# Senha de Acesso ao Painel da Organizadora (/admin)
NEXT_PUBLIC_ADMIN_PASSWORD="Dra.MaJuGG"

# Dados da Rifa e Contato
NEXT_PUBLIC_PIX_KEY="37998427884"
NEXT_PUBLIC_PIX_NAME="Maria Júlia Gomes Gabriel"
NEXT_PUBLIC_WHATSAPP_NUMBER="5537998427884"
NEXT_PUBLIC_TICKET_PRICE="20"

# Google Planilhas Oficial
NEXT_PUBLIC_GOOGLE_SHEET_ID="1egTaUeCKIliJXparsrk8ZGRL29lGU5NUa1l0BTv0sXM"
NEXT_PUBLIC_GOOGLE_SHEET_URL="https://docs.google.com/spreadsheets/d/1egTaUeCKIliJXparsrk8ZGRL29lGU5NUa1l0BTv0sXM/edit?hl=pt-br&pli=1&gid=0#gid=0"
NEXT_PUBLIC_GOOGLE_SHEET_WEBHOOK_URL=""
